body {
    background-color: #edddd4;
    display: grid;
}

main {
    margin: 0px;
    margin-left: -30px;
}

header {
    background-color: #A6CAD4;
    grid-column: 1/4;
}

.headheader {
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
    color: #334259;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

footer {
    background-color: #A6CAD4;
    grid-column: 1/4;
}

header h1 {
    margin: 0px;
}

header ul {
    margin: 0px;
}

.foot {
    display: flex;
    justify-content: center;
}

.foot p {
    margin: 0px;
}

hr {
    border-top: 1px solid gray;
}

.headcontainer {
    display: grid;
    justify-content: center;
}

.list-nav li {
    margin: 10px;
    list-style-type: none;
}

ul li {
    list-style-type: none;
}


@media (min-width: 600px) {

    .list-nav {
        display: flex;
        justify-content: center;
        flex-direction: row;

    }

    .list-nav li {
        margin: 10px;
        list-style-type: none;
    }

    .gap {
        margin-left: 400px;
        order: 1;
    }

    .two{
        order: 2;
        flex-basis: 100%;
    }

    .paracontainer {
        display: flex;
        flex-wrap: wrap;
    }

    hr {
        border-top: 3px solid black;
    }

}