.headheader {
    font-family: 'Montserrat',sans-serif;
    color:#c7522a;
    text-align: center;
}

.navigation {
    background-color: lightblue;
    text-align: center;
}

.myimage{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.pcenter{
    text-align: center;
}

.headnav {
    color:#008585;
    text-align: center;
}

.headgo {
    color:#e12729;
}

body {
    color:#008585;
    font-family: 'Roboto', sans-serif;
    background-color:#fbf2c4;
    text-align: left;
}

li {
    color:#c7522a;
    text-align: left;
}