body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #edddd4;
}

.headheader {
    font-family: 'Montserrat',sans-serif;
    color:#334259;
    display: flex;
    justify-content: center;
}
.list-nav{
    display: flex;
    justify-content: center;
}
.list-nav li{
    margin: 10px;
    list-style-type: none;
}

header {
    background-color: #A6CAD4;
    grid-column: 1/4;
}
/* }
.coursehead {
    color:#c7522a;
}

.schoolhead {
    color: #c7522a;
    text-align: center;
}

.navigation {
    background-color: lightblue;
    text-align: center;
}

.myimage{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.pcenter{
    text-align: center;
}

.headnav {
    color:#008585;
    text-align: center;
}

.headgo {
    color:#e12729;
}

body {
    color:#008585;
    font-family: 'Roboto', sans-serif;
    background-color:#fbf2c4;
    text-align: left;
}

li {
    color:#c7522a;
    text-align: left;
} */